.adImmage {
  height: 200px;
  width: auto;
}

.adCard {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  margin-top: 10px;
  border: 1px solid #c19a2c8a;
  box-shadow: 1px 1px 4px -1px grey;
  transition: 0.2s all ease;
}

.adCard:hover {
   box-shadow: 1px 1px 4px 0px grey;
}
