.faceContainer {
  height: 135px;
}

.buttonColor {
  background-color: #c19a2c8a;
  border-color: #c19a2c8a; 
}

.buttonColor:hover {
  background-color: #c19a2c;
  border-color: #c19a2c; 
}

.prodCard {
  margin-top: 10px;
  border: 1px solid #c19a2c8a;
  box-shadow: 1px 1px 4px -1px grey;
  transition: 0.2s all ease;
}

.prodCard:hover {
   box-shadow: 1px 1px 4px 0px grey;
}
